<div class="baseline-rollover-tooltip d3-tip n">
    <div class="tooltip-holder">
        <table>
            <tbody >
            <tr>
                <td>date:</td>
                <td class="tooltip-value">{{dateTT}}</td>
            </tr>
            <tr>
                <td>transactions:</td>
                <td class="tooltip-value">{{txTT}}</td>
            </tr>
            <tr>
                <td>abandoned:</td>
                <td class="tooltip-value">{{abandonedTT}}</td>
            </tr>
            <tr>
                <td>authorisations:</td>
                <td class="tooltip-value">{{authorisationsTT}}</td>
            </tr>
            <tr>
                <td>auth percent:</td>
                <td class="tooltip-value">{{authPercTT}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>